body {
    font-family: Tahoma, Arial;
}
a { color: #738F9B; }

/** Layout **/
#header {
    background: #ffcd8b;
    position: relative;
    height: 100px;
    border-bottom: 1px solid #BA6222;
}
#header #logo { width: 100px; }
#header #logo a { color: #585858; text-decoration: none; }
#header #logo img { width: 100%; }
#header > .container { height: 80px; }
#header .utilitynav {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 4px 0 0;
}
#header .utilitynav li {
    float: left;
    margin: 0 0 0 15px;
}
#header ul.utilitynav li a { color: #ffffff; text-decoration: none; font-size: .85rem; }
#header .mainnav {
    position: absolute;
    left: 180px;
    bottom: 0;
}
#header ul.mainnav li {
    background: #CCC;
    padding: 4px 20px;
    float: left;
    margin: 0 5px 0 0;
    border: 1px solid #000000;
    border-bottom: 0;
    position: relative;
}
#header ul.mainnav li a { color: #7B4A12; text-decoration: none; }
#header ul.mainnav li ul { display: none; width: 160px; background: #DDD; position: absolute; top: 25px; left: 0; z-index: 100; }
#header ul.mainnav li ul li { float: none; display: block; border: 0; background: none; z-index: 101; }
#header #logo h1 { color: #fff; }
#header a  { color: #fff; }
body > .container { min-height: 300px; }
.container {
    width: 1200px;
    margin: auto;
    padding: 10px 0;
    position: relative;
}

#site-messages {
    background: #ddd;
    border: 1px solid #555;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
}
#site-messages li.success { color: #292; }
#site-messages li.warning { color: #c75; }
#site-messages li.error { color: #c22; }

.subnav { width: 100%; border-bottom: 1px solid #BA6222; padding: 8px 0 2px 0; }
.subnav ul { list-style: none; }
.subnav ul li { float: left; padding: 0 18px 0 2px; font-size: .8rem; }
.subnav ul li a:hover { background: #ffefde; }
.subnav ul li a { color: #000; text-decoration: none; }

.miniButton { display: inline-block; padding: 1px 4px; background: #EFDD6F; font-size: .8rem; color: #A06222; border-radius: 4px; text-decoration: none; }
.miniButton:hover { color: #EA7222; cursor: pointer; }

/** columns and rows grid system **/
.row { position: relative; }
.row:after { content: ""; display: table; clear: both; width: 100%; }
.row .col12 { width: 100%; position: relative; }
.row .col11 { width: 91%; position: relative; float: left;  }
.row .col10 { width: 83%; position: relative; float: left;  }
.row .col9 { width: 75%; position: relative; float: left; }
.row .col8 { width: 66%; position: relative; float: left; }
.row .col7 { width: 58%; position: relative; float: left;  }
.row .col6 { width: 50%; position: relative; float: left;  }
.row .col5 { width: 41%; position: relative; float: left;  }
.row .col4 { width: 33%; position: relative; float: left;  }
.row .col3 { width: 25%; position: relative; float: left;  }
.row .col2 { width: 16%; position: relative; float: left; }
.row .col1 { width: 8%; position: relative; float: left;  }

.pad10 { padding: 10px; }
.pill { background: #eee; border: 1px solid #777; border-radius: 8px; display: inline-block; margin: 3px 4px 0 0; padding: 2px 10px; font-size: .7rem; }
.circle { border-radius: 50%; max-width: 100%; border: 1px solid #000; }
.hover-highlight:hover { background: #ffefde; }

/** Typography **/
h1,h2,h3,h4 { padding: 10px 0 5px 0; }
h1,h2 { color: #7B4A12; }
h3,h4 { color: #BA6222; }
h1 { font-size: 2rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.6rem; }
h4 { font-size: 1.4rem; }
p { font-size: 1rem; }
strong { font-weight: 700; }

/** Elements **/
fieldset { padding: 10px; margin: 4px 0; border: 1px solid #000; border-radius: 10px; }
fieldset legend { padding: 0 10px; }
footer { text-align: center; font-size: 10px; }
label small{ display: block; font-size: 10px; margin-top: 4px; color: #666; }

/** Page speific **/
#adminLogin { width: 300px; margin: 50px auto 0 auto; padding: 20px; }
#adminLogin .logo { margin-bottom: 20px; }
#adminLogin .logo img { width: 100%; }
#adminLogin form { max-width: 200px; margin: auto; }
#adminLogin form input { width: 200px; margin: 5px 0; padding: 0; border: 0; border-bottom: 1px solid #aaa; height: 40px; font-size: 18px; }
#adminLogin form input.button { border-radius: 8px; background: #eee; border: 1px solid #777; font-size: 14px; margin: 20px auto; }

#permissionsAdminForm { font-size: .7rem; }

/** Page Editor **/
#pageEditor #preview .previewContainer {
    width: 100%;
    height: 600px;
    overflow: scroll;
}

/** Sitesettings **/
#edit-setting div.row{ margin-bottom: 8px; }
#edit-setting input[type=text]{ width: 75%; }
#edit-setting #description{ width: 98%; height: 60px; }
#setting-options{ position: relative; }
#setting-options input.setting-option{ width: 85%; margin-bottom: 15px; }
#setting-options #add-option{ position: absolute; right: 0; bottom: -8px; }
#delete-setting{ position: absolute; top: 20px; right: 0; }

/** responsive **/
@media screen and (max-width:1199px){
    .container { width: 100%; }
}