body {
    font-family: Tahoma, Arial;
    margin: 0;
}
a { color: #F7931E; }

/** Layout **/
#headernav {
    background: #333;
    position: relative;
    height: 35px;
    padding: 10px 0 0 0;
}
#header {
    background: #e7e3da;
    height: 90px;
    position: relative;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 10px 0;
    position: relative;
}


/** columns and rows grid system **/
.row { position: relative; }
.row:after { content: ''; display: table; clear: both; width: 100%; }
.row .col12 { width: 100%; position: relative; }
.row .col11 { width: 91%; position: relative; float: left;  }
.row .col10 { width: 83%; position: relative; float: left;  }
.row .col9 { width: 75%; position: relative; float: left; }
.row .col8 { width: 66%; position: relative; float: left; }
.row .col7 { width: 58%; position: relative; float: left;  }
.row .col6 { width: 50%; position: relative; float: left;  }
.row .col5 { width: 41%; position: relative; float: left;  }
.row .col4 { width: 33%; position: relative; float: left;  }
.row .col3 { width: 25%; position: relative; float: left;  }
.row .col2 { width: 16%; position: relative; float: left; }
.row .col1 { width: 8%; position: relative; float: left;  }


/** Typography **/
h1,h2,h3,h4 { padding: 10px 0 5px 0; }
h1,h2 { color: #7B4A12; }
h3,h4 { color: #BA6222; }
h1 { font-size: 2rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.6rem; }
h4 { font-size: 1.4rem; }
p { font-size: 1rem; }

/** Elements **/
fieldset { padding: 10px; margin: 4px 0; border: 1px solid #000; border-radius: 10px; }
fieldset legend { padding: 0 10px; }
footer { text-align: center; font-size: 10px; }

ul.mainNav { position: relative; margin: 0; padding: 0; }
ul.mainNav li { display: inline; margin: 0; padding: 0; }
ul.mainNav li:after { content: '\2f'; margin: 0 10px 0 15px; color: #F7931E; }
ul.mainNav li:last-child:after { content: normal; }

/** Page speific **/
form#userLogin, form#userRegister, form#resetPassword, form#userRecover, form#userForgotpassword { max-width: 420px; }
form#userLogin input, form#userRegister input, form#resetPassword input, form#userRecover input, form#userForgotpassword input { width: 100%; }